@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');

body { font-family: 'Open Sans', sans-serif; color: var(--ctp-mocha-text); background-color: var(--ctp-mocha-mantle); }

h1, h2, h3, h4, h5, h6 { text-align: center; font-size: 56px; color: var(--ctp-mocha-red); }

#main {
    width: 1000px;
    
    margin-left: auto;
    margin-right: auto;

    padding: 20px;

    background-color: var(--ctp-mocha-base);

    border-radius: 15px;
}

.menunav {
    float: left;

    width: 480px;
    height: 480px;

    margin: 10px;

    background-color: var(--ctp-mocha-surface0);

    border-radius: 10px;

    transition: all .2s ease-in-out;
}
.menunav:hover { background-color: var(--ctp-mocha-surface1); }

.menunav > a {
    display: block;

    width: 400px;
    height: 400px;

    padding: 40px;

    text-align: center;
    text-decoration: none;

    font-size: 36px;

    color: var(--ctp-mocha-sapphire);
}
.menunav > a:visited { color: var(--ctp-mocha-sapphire); }