@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');

body { font-family: 'Open Sans', sans-serif; color: var(--ctp-mocha-text); background-color: var(--ctp-mocha-mantle); }

h1, h2, h3, h4, h5, h6 { text-align: center; color: var(--ctp-mocha-red); }

h1 { font-size: 56px; }

h3 { font-size: 28px; }

#main {
    width: 1200px;
    
    margin-left: auto;
    margin-right: auto;

    padding: 20px;

    background-color: var(--ctp-mocha-base);

    border-radius: 15px;
}

.case {
    float: left;

    width: 360px;
    height: 160px;

    margin: 10px;
    padding: 10px;

    background-color: var(--ctp-mocha-surface0);

    border-radius: 10px;
}